<h3>Login</h3>

<%= form_for :session, url: login_path do |f| %>
  <p>
    <%= f.label :email%><br>
    <%= f.email_field :email, placeholder: 'fake-email@email.com', autofocus: true%>  
  </p>
  <p>
    <%= f.label :password%><br>
    <%= f.password_field :password%>  
  </p>
  <%= f.submit 'Login', class: "btn pink"%>
  <br>
  <br>
<%end%>