<%= render 'shared/error', obj: @article%>
<%= form_for @article do |f| %>
  <p>
    <%= f.label :title%><br>
    <%= f.text_field :title%>  
  </p>

  <p>
    <%= f.label :description%>
     <i class="material-icons prefix">mode_edit</i>
    <%= f.text_area :description, class: "materialize-textarea" %>  
  </p>

  <%= f.submit 'Submit', class: "btn pink waves-effect waves-light"%>
<%end%>