<h3>All Bloggers </h3>
<%= will_paginate @users%>
<div class="users">
  <% @users.each do |user|%>
    <div class="card card-user">
      <div class="card-image waves-effect waves-block waves-light">
        <%= gravatar_for user%>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= user.username%><i class="material-icons right">more_vert</i></span>
        <p><%= link_to 'My Profile', user_path(user)%></p>
        <p><%= pluralize(user.articles.count, 'article') if user.articles.count > 0 %></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= user.username%><i class="material-icons right">close</i></span>
        <p><%= user.about%></p>
      </div>
    </div>
  <% end%>
</div>

<%= will_paginate @users%>
