<div class="center-align">
  <h3> Welcome to <%= @user.username %>'s page</h2>
  <% if current_user.id == @user.id%>
    <%= link_to 'Edit Profile', edit_user_path(@user), class:'btn pink lighten-1'%>
    <br>
    <br>
  <%end%>
  <%= gravatar_for @user, size: 150%>
  <h3><%= @user.username%> articles </h3>
  <%= will_paginate @user_articles%>
  <%= render 'articles/articles', obj: @user_articles%>
  <%= will_paginate @user_articles%>
</div>


